<footer class="site-footer" data-grid="center" id="contato">

  <form class="wrapper" action="{{ site.baseurl }}/enviar_email.php" method="POST">
  	<legend>Fale conosco</legend>
	<div data-grid="spacing">
		<div data-cell="2of3">
			<p>
				<label for="nome">Nome</label>
				<input type="text" name="nome" required placeholder="Informe seu nome">
			</p>
			<div data-grid="spacing">
				<p>
					<label for="telefone">Telefone</label>
					<input type="tel" name="telefone" required placeholder="(15) 0000-0000">
				</p>
				<p>
					<label for="email">E-mail</label>
					<input type="email" name="email" required placeholder="nome@dominio.com">
				</p>
			</div>
			<p>
				<label for="mensagem">Mensagem</label>
				<textarea name="mensagem" cols="30" rows="5" placeholder="Digite a sua mensagem..."></textarea>
			</p>
			<p data-grid="end">
				<button data-cell="shrink">Enviar</button>
			</p>
		</div>
		<aside data-cell="1of3">
			<p><a href="mailto:contato@enygmaalarmes.com.br" data-btn>contato@enygmaalarmes.com.br</a></p>
			<p><a href="/produtos.html" data-btn>Veja todos os nossos produtos.</a></p>
		</aside>
	</div>
  </form>

</footer>
