<footer class="site-footer">

  <div class="wrapper footer-heading">
  	<h3>O que há de melhor</h3>
  	<p>Voluptatum, sed illum porro at autem asperiores eum, magnam ad sapiente in veritatis aut deleniti, maxime unde, blanditiis ab placeat? Incidunt, impedit!</p>
  	<p>{{ site.description }}</p>
  </div>

  <div class="wrapper" data-grid="spacing">
		<div data-cell="1of4">
			<ul>
				<li>Quos consectetur maiores</li>
				<li>Lorem ipsum dolor sit amet</li>
				<li>Consectetur praesentium</li>
				<li>Quaerat itaque quam distinctio</li>
			</ul>
		</div>
		<div data-cell="1of4">
			<ul>
				<li>Sunt a, blanditiis est</li>
				<li>Excepturi eius ea nesciunt esse</li>
				<li>Optio voluptates dolorem labore ullam</li>
				<li>Laborum, atque! Consequatur</li>
			</ul>
		</div>
		<div data-cell="1of4">
			<ul>
				<li>Voluptates accusantium quasi</li>
				<li>Corrupti, nostrum, temporibus</li>
				<li>Nulla consectetur corporis</li>
				<li>Numquam, quod voluptas</li>
			</ul>
		</div>
		<div data-cell="1of4">
			<ul>
				<li>Qui incidunt possimus</li>
				<li>Fugit neque adipisci</li>
				<li>Non enim, reprehenderit</li>
				<li>Sed odit, velit</li>
			</ul>
		</div>
  </div>

</footer>
