<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo-enygma-horizontal.png" height="50" alt="{{ site.title }}"></a>

    <nav class="site-nav">
      {% for section in site.sections %}
        {% if section.menu-title %}
          <a class="page-link desktop" href="#{{ section.name }}">{{ section.menu-title }}</a>
        {% endif %}
      {% endfor %}
      <a href="#contato" class="" data-btn="">Contato</a>
    </nav>

  </div>

</header>
