.site-header
    border-top: 5px solid $grey-color-dark
    border-bottom: 1px solid $grey-color-light
    background-color: #fff
    min-height: 56px
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 999
    + *
        margin-top: 61px

.site-title
    font-size: 26px
    font-weight: 300
    line-height: 56px
    letter-spacing: -1px
    margin-bottom: 0
    float: left

    &,
    &:visited
        color: $grey-color-dark

.site-nav
    float: right
    line-height: 56px

    .menu-icon
        display: none

    .page-link
        color: $text-color
        line-height: $base-line-height
        border-bottom: 5px solid transparent

        // Gaps between nav items, but not on the last one
        &:not(:last-child)
            margin-right: 20px

    .active:not([data-btn])
        text-decoration: none
        padding-bottom: 15px
        border-bottom: 5px solid $brand-color
    
    .active[data-btn]
        background-color: $brand-color
        color: #fff

    +media-query($on-palm)
        .menu-icon
            display: block
        .page-link
            &.desktop
                display: none
        .trigger
            display: none
        &:hover
            .trigger
                display: block

.site-footer
    min-height: calc(100vh - 62px)
    background-color: $brand-color
    padding: $spacing-unit 0
    color: #fff
    a
        color: $ui-color-active
    button
        border: 1px solid
        color: #fff
        &:hover
            background-color: #fff
            color: $brand-color

.footer-heading
    margin-bottom: $spacing-unit / 2

.page-content
    padding: $spacing-unit * 2 0

.page-heading
    font-size: 20px

.post-meta
    font-size: $small-font-size
    color: $grey-color

.post-header
    margin-bottom: $spacing-unit

.post-title
    font-size: 42px
    letter-spacing: -1px
    line-height: 1

    +media-query($on-laptop)
        font-size: 36px

.post-content
    margin-bottom: $spacing-unit

.background-container
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: hidden
    z-index: -1
    opacity: .25
    .background-content
        width: auto
        height: auto
        min-width: 100%
        min-height: 100%


.section-home
    background:
        color: rgba( darken($grey-color-light,10%), .5 )
        image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%)
    color: $brand-color
    overflow: hidden
    position: relative
    .hero-title
        font-size: 38px
    .hero-subtitle
        font-size: $base-font-size
        font-weight: 600
        color: $grey-color-dark
    .hero-gallery
        li
            img
                float: right
                clear: right
                width: 60%
                max-width: 300px
                box-shadow: -3px 3px 7px 0 rgba($grey-color, .6)
        li:not(:last-child)
            img
                margin-bottom: -15%
        li:nth-child(2)
            img
                transform: translate(-65%)

.section-servicos
    font-size: 20px
    +media-greater($large-content-width)
        padding-bottom: $spacing-unit * 6
        background:
            image: url(/img/produtos/amt-2010-intelbras.jpg)
            repeat: no-repeat
            position: 100% 100%
            size: 28%

.section-clientes
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%)
    color: #fff
    .clientes-galeria
        height: 280px
        +media-query($on-palm)
            height: 500px

    .cliente-item
        width: 100%
        margin: $spacing-unit auto
        background-color: rgba($brand-color, .3)
        overflow: hidden
        border-radius: 20px
    +media-query($on-palm)
        .cliente-item
            height: 460px
            padding-top: $spacing-unit / 2
            padding-bottom: $spacing-unit / 2
            margin-top: $spacing-unit / 2
            margin-bottom: $spacing-unit / 2
        .cliente-metadata
            max-width: 200px
            > *
                margin: 0
            h1, h2, h3, h4, h5, h6
                font-size: 20px
    +media-query($on-laptop)
        .cliente-img
            width: 200px
            height: 200px
            img
                width: 200px
                height: 200px
    // .cliente-metadata

.section-marcas
    padding-left: $spacing-unit
    padding-right: $spacing-unit
    border-top: 1px solid $grey-color-light
    border-bottom: 1px solid $grey-color-light
    .marcas-item
        padding: $spacing-unit / 2
        width: 140px
        img
            opacity: .3
    +media-greater($on-laptop)
        .marcas-container
            flex-wrap: nowrap
    +media-query($on-palm)
        .marcas-item
            width: 38%

.section-sobre
    +media-greater($on-palm)
        background:
            image: url(/img/bg-camera.jpg)
            position: center
            repeat: no-repeat
            size: cover
        padding-top: $spacing-unit * 3
        padding-bottom: $spacing-unit * 3
        .sobre-excerpt
            padding: $spacing-unit
            background-color: $background-color

.slider
    position: relative
    perspective: 3000px
    .slide
        position: absolute
        transition: .3s ease-in-out
        &:not(.current),
        &.prev
            opacity: 0
            transform: rotateX(90deg)
        &.next,
        &.next ~ :not(.prev):not(.current)
            opacity: 0
            transform: rotateX(-90deg)
        &.current
            z-index: 9
            opacity: 1
            transition-delay: .3s
            transform: rotate(0)
    &.no-js
        height: auto
        overflow: initial
        .slide
            &, &:not(.prev):not(.next):not(.current)
                display: block
                position: initial

.slider-controls
    display: table
    margin: auto
    .slider-bullet
        display: inline-block
        width: 20px
        height: 20px
        border-radius: 20px
        background-color: rgba($grey-color, .3)
        cursor: pointer
        transition: .3s ease-in-out
        &:not(:first-of-type)
            margin-left: 10px
        &.active
            background-color: $brand-color
            transition-delay: .3s

.sidebar
    position: fixed
    top: 62px
    left: 0
    right: 0
    z-index: 999
    padding: 10px
    background-color: #fff
    line-height: 2
    box-shadow: 0 3px 30px 5px #fff
    a
        display: block
        padding: 4px 15px
        background-color: $grey-color-light
        margin-bottom: 1px
    .menu-icon
        &:hover, &:focus
            text-decoration: none
        svg
            vertical-align: text-top
            color: inherit
            *
                fill: currentcolor
    .trigger a
        animation: show-up .3s ease-in-out forwards
        transform-origin: 50% 0%
        @for $i from 1 through 10
            &:nth-of-type(#{$i})
                animation-duration: .1s * $i

    @keyframes show-up
        0%
            opacity: 0
            transform: translateY(10px) scale(.9)
        100%
            opacity: 1
            transform: translateY(0) scale(1)

    +media-greater($on-palm)

        left: auto
        top: $spacing-unit * 2
        right: $spacing-unit / 2
        display: table