.site-header
    border-top: 5px solid $grey-color-dark
    border-bottom: 1px solid $grey-color-light
    background-color: #fff
    min-height: 56px
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 999
    + *
        margin-top: 61px

.site-title
    font-size: 26px
    font-weight: 300
    line-height: 56px
    letter-spacing: -1px
    margin-bottom: 0
    float: left

    &,
    &:visited
        color: $grey-color-dark

.site-nav
    float: right
    line-height: 56px

    .menu-icon
        display: none

    .page-link
        color: $text-color
        line-height: $base-line-height
        border-bottom: 5px solid transparent

        // Gaps between nav items, but not on the last one
        &:not(:last-child)
            margin-right: 20px

    .active
        text-decoration: none
        padding-bottom: 15px
        border-bottom: 5px solid $brand-color

    +media-query($on-palm)
        position: absolute
        top: 9px
        right: $spacing-unit / 2
        background-color: $background-color
        border: 1px solid $grey-color-light
        border-radius: 5px
        text-align: right

        .menu-icon
            display: block
            float: right
            width: 36px
            height: 26px
            line-height: 0
            padding-top: 10px
            text-align: center

            > svg
                width: 18px
                height: 15px

                path
                    fill: $grey-color-dark

        .trigger
            clear: both
            display: none

        &:hover .trigger
            display: block
            padding-bottom: 5px

        .page-link
            display: block
            padding: 5px 10px

            &:not(:last-child)
                margin-right: 0

            margin-left: 20px

.site-footer
    background-color: $brand-color
    padding: $spacing-unit 0
    color: #fff
    .footer-heading
        text-align: center
    a
        color: $ui-color-active

.footer-heading
    margin-bottom: $spacing-unit / 2

.page-content
    padding: $spacing-unit 0

.page-heading
    font-size: 20px

.post-meta
    font-size: $small-font-size
    color: $grey-color

.post-header
    margin-bottom: $spacing-unit

.post-title
    font-size: 42px
    letter-spacing: -1px
    line-height: 1

    +media-query($on-laptop)
        font-size: 36px

.post-content
    margin-bottom: $spacing-unit

.background-container
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: hidden
    z-index: -1
    opacity: .25
    .background-content
        width: auto
        height: auto
        min-width: 100%
        min-height: 100%


.section-home
    background-color: rgba( darken($grey-color-light,10%), .5 )
    color: $brand-color
    overflow: hidden
    position: relative
    .hero-title
        font-size: 38px
    .hero-subtitle
        font-size: $base-font-size
        font-weight: 600
        color: $grey-color-dark
    .hero-gallery
        li
            img
                float: right
                clear: right
                max-width: 60%
                box-shadow: -3px 3px 7px 0 rgba($grey-color, .6)
        li:not(:last-child)
            img
                margin-bottom: -20%
        li:nth-child(2)
            img
                transform: translate(-65%)
        li:nth-child(3)
            img
                max-width: 50%

.section-servicos
    font-size: 20px

.section-marcas
    padding-left: $spacing-unit
    padding-right: $spacing-unit
    border-top: 1px solid $grey-color-light
    border-bottom: 1px solid $grey-color-light
    .marcas-item
        padding: $spacing-unit / 2
        width: 140px
        img
            opacity: .3
    +media-greater($on-laptop)
        .marcas-container
            flex-wrap: nowrap
    +media-query($on-palm)
        .marcas-item
            width: 38%

.section-sobre
    +media-greater($on-palm)
        background:
            image: url(/img/deslizante.jpg)
            position: center
            repeat: no-repeat
            size: cover
        padding-top: $spacing-unit * 3
        padding-bottom: $spacing-unit * 3
        .sobre-excerpt
            padding: $spacing-unit
            background-color: $background-color